/* body{ */
    /* background-color: red; */
/* } */
/* Navigation */
#navbar{
    flex-direction: column;
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
=======
>>>>>>> 2a6436b539c7ec7327c27f06500d5f317e689e38
}

#navbar ul li a{
    font-size: 1rem;
    padding: 6px 7px;
}

<<<<<<< HEAD
#navbar ul li a:hover{
    color: black;
    /* background-color: black; */
    /* opacity: 0.8; */
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
}

/* Home section  */
#home{
    height: 326px;
=======
/* Home section  */
#home{
    height: 370px;
>>>>>>> 2a6436b539c7ec7327c27f06500d5f317e689e38
    padding: 20px 20px;
    /* flex-direction: column; */
}
#home::before{
    height: 460px;
}
#home p{
    font-size: 1.2rem;
}

/* Services section  */
#services{
    flex-direction: column;
}

<<<<<<< HEAD
#services-container{
    height: 1065px;
}

=======
>>>>>>> 2a6436b539c7ec7327c27f06500d5f317e689e38
/* Sponser section */
#sponser{
    overflow: hidden;
    flex-wrap: wrap;
}

<<<<<<< HEAD
#sponser-section{
    height: 325px;
}

=======
>>>>>>> 2a6436b539c7ec7327c27f06500d5f317e689e38
#sponser .sponser-item1 img{
    height:80px;
    /* height:auto; */
    padding: 5px;
}
#sponser .sponser-item2 img{
    height: 20px;
    /* height:auto; */
    padding: 20px;
}
#sponser .sponser-item3 img{
    height:50px;
    /* height:auto; */
    padding: 20px;
}
#sponser .sponser-item4 img{
    height: 40px;
    /* height:auto; */
    padding: 20px;
}
/* Contact Section */

#contact-box form{
    width: 80%;
}
/* Utility classes */

.h-primary {
<<<<<<< HEAD
    font-size: 1.6rem;
    padding: 30px;
}

.h-primary-center{
    font-size: 1.6rem;
}

.h-primary p{
    font-size: 2rem;
=======
    font-size: 1.8rem;
}
.h-primary p{
    font-size: 3rem;
>>>>>>> 2a6436b539c7ec7327c27f06500d5f317e689e38
}
.btn{
    font-size: 13px;
    padding: 4px  8px;
}